.header{
  padding: 56px 0 45px;

  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger{
    display: none;

    &_list{
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    &_item{
      font-size: 20px;

      &:hover{
        color: orange;
      }
    }
  }

  &__title{
    img{
      width: 11vw;
      height: 10vh;
    }

  }

  &__list{
    margin-left: 4px;
    display: flex;
    align-items: center;
    column-gap: 30px;

    &_item{
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__label{
    position: relative;
    background: #F9F9F9;
    margin: 0 2px 0 10px;

    &_icon{
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }

    &_input{
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      padding: 12px 0 12px 49px;
      width: 280px;
      border: none;
      outline: none;
      background: transparent;
    }
  }
  &__label:nth-child(2){
    display: none;
    margin: 0;
  }

  &__info{
    display: flex;
    align-items: center;
    column-gap: 30px;

    &_item{
      display: flex;
      align-items: center;
      column-gap: 11px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__icons{
    display: flex;
    column-gap: 30px;
    align-items: center;

    &_notify{
      position: relative;
      cursor: pointer;

      &:hover{
        transition: .5s;
        transform: scale(1.05);
      }

      &_red{
        position: absolute;
        top: 2px;
        right: 0;
        width: 8px;
        height: 8px;
        background: #D74444;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .header__info{
    display: none;
  }
}

@media (max-width: 950px) {
  .header {
    padding: 30px 0 ;
  }
}

@media (max-width: 520px) {
  .header__list{
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .header__label:nth-child(4){
    display: none;
  }
  .header__nav{
    justify-content: space-between;
  }
  .header__icons{
    column-gap: 20px;
  }
  .header__label:nth-child(2){
    display: block;
    margin-top: 11px;
  }
}

@media screen and (max-width:340px) {
  .header__icons{
    column-gap: 10px;
  }
}
