.CardBlock {
  width: 100%;
  height: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 5vh;
  padding-bottom: 10vh;
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4%;
    .card {
      width: 100%;
      margin: 0 auto;
      .card_card {
        width: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12vh 14vw;
        grid-template-columns: repeat(2, 2fr); place-items: center;
        .filter{
        width: 25%;
        }
    }

      .card_header {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;

        .card_header_family {
          display: flex;
          height: 50px;
          border-radius: 50px;
          background-color: #ffff;
          align-items: center;
          max-width: 200px;
          width: 100%;
        }

        .card_header_family img {
          width: 50px;
          height: 50px;
        }

        .card_header_family p {
          white-space: nowrap;
          font-size: 12px;
          color: #13465b;
        }

        .card_header_mony {
          display: flex;
          height: 50px;
          border-radius: 50px;
          background-color: #ffff;
          align-items: center;
          width: 200px;
        }

        .card_header_mony p {
          white-space: nowrap;
          font-size: 12px;
          color: #13465b;
        }

        .card_header_mony img {
          width: 50px;
          height: 50px;
        }

        .card_header_vila {
          display: flex;
          height: 50px;
          border-radius: 50px;
          background-color: #ffff;
          align-items: center;
          width: 200px;
        }

        .card_header_vila p {
          white-space: nowrap;
          font-size: 12px;
          color: #13465b;
        }

        .card_header_vila img {
          width: 50px;
          height: 50px;
        }

        .card_header_arend {
          display: flex;
          height: 50px;
          border-radius: 50px;
          background-color: #ffff;
          align-items: center;
          width: 200px;
        }

        .card_header_arend p {
          white-space: nowrap;
          font-size: 12px;
          color: #13465b;
        }

        .card_header_arend img {
          width: 50px;
          height: 60px;
        }

        .card_header_ultra {
          display: flex;
          height: 50px;
          border-radius: 50px;
          background-color: #ffff;
          align-items: center;
          width: 200px;
        }

        .card_header_ultra p {
          white-space: nowrap;
          font-size: 12px;
          color: #13465b;
        }

        .card_header_ultra img {
          width: 60px;
          height: 50px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .card_header {
    max-width: 1024px;
    width: 100%;

    .card_header_arend {
      height: 50px;
    }
  }
}

@media (max-width: 845px) {
  .card_header {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

@media (max-width: 685px) {
  .container {
    .card {
      .card_card {
        display: grid;
        place-items: center; /* Центрирует элементы по горизонтали и вертикали */
        place-content: center;
        grid-template-columns: repeat(1, 1fr) !important;
      }
    }
  }
}
