.footer{
    max-width: 1920px;
    width: 100%;
    height: auto;
    padding: 3vh 3vw 3vh 3vh;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    position: static;
    
    .social{
        display: flex;
        flex-direction: row;
        gap: 3vw;
        img{
            color: rgb(169, 146, 19);
        }
    }
    .blocks{
        display: flex;
        flex-direction: column;
    }
}