.card_section {
  width: 100%;
  h6 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #969696;
  }
  .card_section__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    h2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #414141;
    }
  }
  .card_section__block {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h6{
      text-align: center;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 19px;
      color: #414141;
      margin: 120px 0 120px 0;
    }
  }
  .card_section__order {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #414141;
    }
    span {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      padding-left: 7px;
      color: #414141;
    }
    .card_section__order__btn {
      max-width: 202px;
      width: 100%;
      height: 40px;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: #ffffff;
      border: none;
      background: #245462;
      cursor: pointer;
    }
  }
  .card_section__products {
    width: 100%;
    height: 429px;
    margin-top: 100px;
    h1 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #414141;
    }
    .card_section__products__block {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      height: 374px;
    }
  }
}

@media screen and (max-width: 480px) {
  .card_section__order{
    flex-direction: column;
    margin-top: 31px;
  }
}
