.ant-checkbox+span{
    font-size: 16px;
}

.ant-slider .ant-slider-track{
background-color: #FFC95E;
}

.ant-slider-horizontal .ant-slider-track {
    height: 6px;
}

.ant-slider .ant-slider-handle::after{
    box-shadow: 0 0 0 2px #FFC95E ;
}

.ant-slider .ant-slider-handle:active{
    box-shadow: 0 0 0 2px #FFC95E ;
}

.ant-btn{
    border: none;
}
